@import url(http://fonts.googleapis.com/css?family=Dancing+Script);
@import url(http://fonts.googleapis.com/css?family=Karma);

/*! The background image:
 * Title: Autumn Morning
 * Author: Nana B Agyel
 * Source: http://www.flickr.com/photos/nanagyei/6270584094
 * License: CC BY 2.0 http://creativecommons.org/licenses/by/2.0/
 */
@media screen and (max-height: 768px) {
	body {
		background: url("../assets/autumn_morning-768.jpg") 0px 0px/cover fixed no-repeat #272422;
	}
}
@media screen and (min-height: 769px) and (max-height: 900px) {
	body {
		background: url("../assets/autumn_morning-900.jpg") 0px 0px/cover fixed no-repeat #272422;
	}
}
@media screen and (min-height: 901px) and (max-height: 1200px) {
	body {
		background: url("../assets/autumn_morning-1200.jpg") 0px 0px/cover fixed no-repeat #272422;
	}
}
@media screen and (min-height: 1201px) and (max-height: 1600px) {
	body {
		background: url("../assets/autumn_morning-1600.jpg") 0px 0px/cover fixed no-repeat #272422;
	}
}
@media screen and (min-height: 1601px){
	body {
		background: url("../assets/autumn_morning.jpg") 0px 0px/cover fixed no-repeat #272422;
	}
}

body {
	background-color: #272422;
	color: #f1ede1;
	font-family: 'Karma';
	font-size: 14pt;
	margin:0;
}

p {
	padding: 0 40px;
	line-height: 1.6em;
}

main, section {
	text-align: center;
}

a {
	color: #f1ede1;
}

.wrapper {
	overflow: hidden;
	width: 650px;
	margin: 0 auto;
	background-color: rgba(50, 20, 5, 0.78);
}

header {
	text-align: center;
	padding: 0px 20px;
	margin: 0 0 70px 0;
}
header h1 {
	font-family: 'Dancing Script';
	font-weight: 300;
	font-size: 6em;
	margin: 20px;
	color: #ec6f03;
}
header h3 {
	font-size: 1.3em;
	margin: 20px;
	color: #15b97a;
}
main h3 {
	text-align: center;
}

ol {
	margin: 0 40px;
	text-align: left;
}

footer {
	margin: 150px auto 0 auto;
	width: 400px;
	text-align: center;
}
footer .logos {
	margin: 0;
	vertical-align: middle;
	font-size: 3em;
}
footer .logos img {
	height: 65px;
	vertical-align: middle;
}
footer .contact { font-weight: 900; margin: 20px 0 60px 0; }
footer .contact a { color: #ec6f03; }

.date-location-info {
	margin: 70px 0;
}
.date-location-info div {
	text-align: center;
}
.date-info time { font-size: 2.5em; }

.location-info a, .date-info time {
	color: #15b97a;
}
.location-info a {
	text-decoration: none;
}
.location-info img {
	width: 300px;
	height: 300px;
	border-radius: 150px;
	transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.location-info img:hover {
	box-shadow: 0px 2px 10px 0 rgba(255, 255, 255, 0.5);
}
.location-info img:active {
	box-shadow: 0px 8px 17px 0 rgba(255, 255, 255, 0.5);
}

.signup {
	text-decoration: none;
	display: inline-block;
	transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
	/*box-shadow: 0px 2px 10px 0 rgba(255, 255, 255, 0.5);*/
	box-sizing: border-box;
	width: 300px;
	height: 300px;
	margin: 50px auto;
	padding: 50px 0 0 0;
	border-radius: 150px;
	background: rgba(21, 185, 122, 0.6);
}
.signup:active {
	box-shadow: 0px 8px 17px 0 rgba(255, 255, 255, 0.5);
}

.builtby {
	font-size: 12pt;
	color: #808080;
	margin: 60px 0 0 0;
}
